.WrapperAct{
    background: url('../img/Activity.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.WrapperAct form{
    background:rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:5rem;
    padding: 1rem;
    width: 35%;
    margin: auto;
    border: 1px solid black;
   
}
.WrapperAct label{
    font-size: 1.3rem;
    margin:0.5rem 0rem
}
.WrapperAct select{
    font-size: 1.3rem;
}
.WrapperAct li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border: 1px solid rgba(128, 128, 128, 0.835);
    text-decoration: none;
    border-radius: 5px;
    width: 10rem;
    padding: 0.3rem;
    
}
.WrapperAct li button{
   margin-top: 2px;
    float: right;
    
}
.WrapperAct button{
    text-decoration: none;
    color:black;
    border: 1px solid black;
    
    background: #88969e6c;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
}
.WrapperAct p{
    font-size: 1.5rem;
}